body {
    font-family: Circular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: grey;
}

header {
    color: grey;
    font-size: 35px;
    font-weight: bold;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    margin: 20px;
    padding: 20px;
}

footer {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 10px;
}

.all_photos {
    text-align: center;
}

.all_photos img {
    width: 20%;
}

.search_results {
    font-weight: bold;
    color: grey;
    padding: 20px;

}

.search_results span {
    border-bottom: 3px solid red;
    padding-bottom: 2px;
    
    
}

form {
    font-size: 12px;
    color: red;
}
